# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data & Models
*.pkl
*.onnx
*.wav
*.WAV
*.phn
*.PHN
TIMIT dataset/
data/
models/
asr_results.pkl
validity_results.pkl
validity_checkpoint.pkl

# IDEs
.vscode/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project metadata
anaconda_projects/
